# .env file content
POSTGRES_URL=postgresql://postgres:secret@localhost:5432/nem12_db

INPUT_FOLDER_PATH=tests/nem12_csv

OUTPUT_FOLDER_PATH=sql_chunks

STATE_FILE_PATH=state.txt

COMPLETED_FILES_TRACKER=processed_files.log

BATCH_SIZE=5000

DLQ_REPORT_CSV=corrupted_lines.csv

DLQ_REPLAY_CSV=corrupted_lines_replay.csv