# .env file content
POSTGRES_URL=postgresql://postgres:secret@localhost:5432/nem12_db

INPUT_FOLDER_PATH=tests/nem12_csv

OUTPUT_FOLDER_PATH=output/sql_chunks

STATE_FILE_PATH=output/state.txt

COMPLETED_FILES_TRACKER=output/processed_files.log

BATCH_SIZE=5000

DLQ_REPORT_CSV=output/corrupted_lines.csv

DLQ_REPLAY_CSV=output/replay_failed_records.csv